{% extends "base.html" %}

{% block main %}
{% include 'flashes.html' %}

<h1 class="page-header">Properties</h1>
<p>This webpage is about Properties.</p>

<div class = 'props'>
    {% for prop in props %} 
        <img class ='propimg' src = "{{ url_for('getimage', filename= prop.property_photo) }}" alt ="Photo">
        <div class = "propbody">
            {{prop.property_title}}
            {{prop.property_location}}
            {{prop.property_price}}
        </div>
        <button class="btn" type="submit"><a href="{{url_for('viewproperty', propertyid = prop.property_id)}}" >View Property</a></button>
    {%endfor%}
</div>
{% endblock %}
