{% extends "base.html" %}

{% block main %}
{% include 'flashes.html' %}

<div class="page-header">
    <h1 >Properties</h1>
    <p >This webpage is about Properties.</p>
</div>

<div class = 'props'>
    {% for prop in props %} 
    <div class = "card">
        <img class ='propimg' src = "{{ url_for('getimage', filename= prop.property_photo) }}" alt ="Photo">
        <div class = "propbody">
            <div class = "title">{{prop.property_title}}</div>
            <div class = "location">{{prop.property_location}}</div>
            <div class = "price">{{prop.property_price}}</div>
        </div><br>
        <a href="{{url_for('viewproperty', propertyid = prop.property_id)}}" ><div class="invidprop">View Property</div></a>
        
    </div>
    {%endfor%}
</div>
{% endblock %}
